# Project files
.idea
nbproject
nbproject/private
.vscode/
.vs/

# unwanted types
**/env.d.ts

# System / Log files
*.DS_Store
*.log
/.cache/

# build output
dist/

# generated types
.astro/
public/css/
public/js/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

#sonarqube
sonar-project.properties
sonarscan.cmd
.scannerwork
